@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

  }
}

body {
  background-image: url('../../public/download.jpeg');
}

/* .about {
  display: grid;
  grid-template-columns: repeat(minmax(0, 1fr));
  grid-template-areas:
  "a a"
  "b c";

  .about__intro {
    grid-area: a;
  }

  .about__content {
    grid-area: b;
  }

  .about__pic {
    grid-area: c;
  }
} */